<html>
	<head>
		<title>Browse Lectures</title>
		<style>
			.blinking{
				animation:blinkingText 1s infinite;
			  background-color:red;
			}
			@keyframes blinkingText{
				0%{		color: white;	}
				39%{	color: transparent;	}
				50%{	color: transparent;	}
				69%{	color:transparent;	}
				100%{	color: white;	}
			}
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="/css/project.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{{> toolbar }}
					<div class="row" style="background-color:white">
						<div class="col-md-12" align="center" style="padding-top:1%;padding-bottom:1%">
									<div class="dropdown">
									  <button class="btn btn-secondary btn-lg dropdown-toggle btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" >
									    {{selection}}
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="/?dropdown=Physics&professorName=Udit" id="classa">Physics</a>
											<a class="dropdown-item" href="/?dropdown=Chemistry&professorName=Quentin" id="classb">Chemistry</a>
											<a class="dropdown-item" href="/?dropdown=Math&professorName=Eric" id="classb">Math</a>
											<a class="dropdown-item" href="/?dropdown=Recently_Uploaded&professorName=Udit" id="classb">Recently Uploaded</a>
											<a class="dropdown-item" href="/?dropdown=Favourites&professorName=Quentin" id="classb">Favourites</a>
									  </div>
									</div>
						</div>
					</div>

		 <div class="row" style="background-color:white; height:100%">
			 {{#each records }}
					<div class="col-md-4">
	        	<a href="/playback">
			    		<div class="card">
						    <img class="card-img-top" src="{{ picture }}" alt="Card image cap">
							    <div class="card-body">
							      <h5 class="card-title">
							      		<span class="badge badge-success"> {{courseName}} </span>
							      </h5>
							      <p class="card-text">
							      <span class="badge badge-info"> {{category}} </span> <span class="badge badge-primary"> Professor {{ professorName }} </span> 
							       </p>
							    </div>
						   	<div class="card-footer">
							    <small class="text-muted">{{ date }}, Duration: {{ duration }}</small>
							  </div>
							</div>
						</a>
					</div>
				{{/each }}
			</div>
<!--
REFERENCES:
1) Smart Icons
2) Bootstrap toggle
3) MIT Opencourseware
-->


</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
    	first_lec = document.querySelector('body > div:nth-child(4) > div:nth-child(1) > a > div > div.card-body > p');
    	first_lec.innerHTML += ' <span class="blinking" style="padding-left:2%; padding-right:2%">LIVE</span>';
    	document.querySelector('body > div:nth-child(4) > div:nth-child(1) > a').href = "\liveplayback";
    </script>

</html>
